header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aqua;
    margin: 0;
    padding: 0;
    height: 100%;
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
}