.tab-content {
    display: none !important;
}

.tab-content.active {
    display: block !important;
}

.passport-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 1rem;
}